html {
    font-size: 1em;
    line-height: 1.4;
}

.author {
    width: 20%;
    float: left;
    border: 1px solid grey;
    padding: 7px;
    margin: 7px;
    background-color: #2A9FBC;
}

.author h3 {
    display: inline;
    padding-left: 7px;
    color: white;
}

ul {
    author-style: none;
    padding: 0;
}

.searchAll {
    cursor: pointer;
    background-color: #2A9FBC;
    padding: 7px;
    margin: 7px;
    width: 20%;
}

.quote {
    cursor: pointer;
    background-color: #404040;
    padding: 7px;
    margin: 7px 0px;
    color: white;
}

.quote h4 {
    margin: 0px;
}

.description {
    color: lightgray;
}

.flex {
  display: flex;
}

.flex input {
  flex-grow: 2;
}

.flex button {
  flex-basis: auto;
}

.quote button,
.quote input,
.quote textarea {
    color: #404040;
    margin: 2px 0px;
}

.quote textarea {
    width: 100%;
    resize: vertical;
}

.auth-buttons, .show-filters {
    float: right;
}

.author-sort {
    color: white;
    margin-left: 7px;
}
