{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css"
            href="{% static "css/thusSaith.css" %}" >
    </head>
    <body ng-app="quotemod">
        <div id="google_translate_element">
        </div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    {pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
                    'google_translate_element'
                );
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <ng-view></ng-view>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
        <script src="{% static "js/thusSaith.js" %}"></script>
        <script src="{% static "js/thusSaith.config.js" %}"></script>
        <script src="{% static "js/login.controller.js" %}"></script>
        <script src="{% static "js/login.service.js" %}"></script>
        <script src="{% static "js/card.directive.js" %}"></script>
    </body>
</html>
