<div class="row">
    <div class="left">
        <div class="searchAll">
            Search: <input type="text" ng-model="searchAll"/>
        </div>
        <div class="author" ng-repeat="author in data | filter:searchAll">
            <h3><a href="#/author/{{author.id}}">{{ author.lastname }}{{ author.lastname ? "," : "" }} {{ author.title }} {{ author.firstname }}</a></h3>
        </div>
    </div>
    <div class="right">
        <div class="author">
            <h3>{{ data.title }} {{ data.firstname }} {{ data.lastname }}</h3>

            <span class="show-filters">
                <button ng-click="showFilters=!showFilters">
                    {{ showFilters ? "Hide" : "Show" }} filters
                </button>
            </span>
            <div class="author-sort"
                ng-show="showFilters">
                <hr>
                    <table>
                        <tr>
                            <td><label>Sort: </lable></td>
                            <td>
                                <select ng-model="sortBy">
                                    <option value="title">Title</option>
                                    <option value="story_points">Story Points</option>
                                    </option value="business_value">Business Value</option>
                                </select>
                                <input type="checkbox" ng-model="reverse">
                                <label>Reverse</label>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Filter: </label></td>
                            <td class="flex"><input type="text" ng-model="filterBy"/></td>
                        </tr>
                    </table>
                </hr>
            </div>
            <ul>
                <li ng-repeat="quote in data.quotes | filter:filterBy | orderBy:sortBy:reverse">
                    <quotedriver-quote></quotedriver-quote>
                </li>
            </ul>
        </div>
    </div>
</div>
