<div class="logout">
    <button ng-click="logout()">Logout</button>
</div>
<div class="author" ng-repeat="author in data">
    <h3>{{ author.lastname }}, {{ author.title }} {{ author.firstname }}</h3>

    <span class="show-filters">
        <button ng-click="showFilters=!showFilters">
            {{ showFilters ? "Hide" : "Show" }} filters
        </button>
    </span>
    <div class="author-sort"
        ng-show="showFilters">
        <hr>
            <table>
                <tr>
                    <td><label>Sort: </lable></td>
                    <td>
                        <select ng-model="sortBy">
                            <option value="title">Title</option>
                            <option value="story_points">Story Points</option>
                            </option value="business_value">Business Value</option>
                        </select>
                        <input type="checkbox" ng-model="reverse">
                        <label>Reverse</label>
                    </td>
                </tr>
                <tr>
                    <td><label>Filter: </label></td>
                    <td class="flex"><input type="text" ng-model="filterBy"/></td>
                </tr>
            </table>
        </hr>
    </div>
    <ul>
        <li ng-repeat="quote in author.quotes | filter:filterBy | orderBy:sortBy:reverse">
            <quotedriver-quote></quotedriver-quote>
        </li>
    </ul>
    <div class="flex">
        <input type="text" ng-model="new_title" />
        <button ng-click="add(author, new_title)">+</button>
    </div>
</div>
