<div class="quote" ng-hide="edit" ng-click="edit=true">
    <h4>{{ quote.category }}</h4>
    <span class="description">{{ quote.text }}</span>
</div>

<div class="quote" ng-show="edit"
    ng-model-options="modelOptions">
    <div class="flex">
        <label><strong>Title:&nbsp;</strong></label>
        <input type="text"
            ng-model="quote.title"
            //ng-change="update()" />
    </div>
    <textarea ng-model="quote.text"
        //ng-change="update()"
        placeholder="Enter Quote: " ></textarea>
    <div>
        <label>Author: </label>
        <select ng-options="author as author.lastname for author in data"
            ng-model="destAuthor"></select>
        <button ng-click="move()">Move</button>
    </div>
    <button ng-click="edit=false">Close</button>
    <button ng-click="delete()">Delete Quote</button>
</div>
