<div class="auth-buttons" ng-show="isLoggedIn">
    <button ng-click="logout()">Logout</button>
</div>
<div class="auth-buttons" ng-hide="isLoggedIn">
    <a href="#/login"><button>Login</button></a>
</div>
<div class="searchAll">
    Search: <input type="text" ng-model="searchAll"/>
</div>
<div class="list" ng-repeat="list in data | filter:searchAll">
    <h3><a href="#/author/{{list.id}}">{{ list.lastname }}, {{ list.title }} {{ list.firstname }}</a></h3>

    <span class="show-filters">
        <button ng-click="showFilters=!showFilters">
            {{ showFilters ? "Hide" : "Show" }} filters
        </button>
    </span>
    <div class="list-sort"
        ng-show="showFilters">
        <hr>
            <table>
                <tr>
                    <td><label>Sort: </lable></td>
                    <td>
                        <select ng-model="sortBy">
                            <option value="category">Category</option>
                            <option value="text">Text</option>
                        </select>
                        <input type="checkbox" ng-model="reverse"/>
                        <label>Reverse</label>
                    </td>
                </tr>
                <tr>
                    <td><label>Filter: </label></td>
                    <td class="flex"><input type="text" ng-model="filterBy"/></td>
                </tr>
            </table>
        </hr>
    </div>
    <ul>
        <li ng-repeat="card in list.cards | filter:filterBy | filter:searchAll | orderBy:sortBy:reverse">
            <scrumboard-card></scrumboard-card>
        </li>
    </ul>
</div>
